{
  "extends": [
    "standard",
    "airbnb",
    "prettier",
    "prettier/standard",
  ],
  "plugins": [
    "prettier",
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": ["error"],
    "import/named": 0,
    "no-console": 1,
    "no-unused-expressions": 0,
    "allowShortCircuit": 0,
    "allowTernary": 0
  }
}
