$body-color: blue;


:root .milanuncios {
  --accordion-header-background-color: #e5f2d0;
  --accordion-header-border-color: #c2dea0;
  --accordion-header-text-color: #30923e;
  --accordion-body-background-color: white;
  --accordion-body-border-color: #c2dea0;
  --accordion-body-text-color: #30923e;
}
